/* =============================================================================
    Projet      :   rapport-de-stage
    Fichier     :   _header
    Auteur      :   Trackjnr
    Date        :   10/03/2025
    Version     :   1.0.0
    Description :   Styles spécifiques au header
============================================================================= */
@use "../base/mixins" as *;

.header {
  background-color: black;
  color: #fff;
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 2%;

}
.logo {
  width: 15vw;
  height: auto;

  @include low-mobile {
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
}
// Styles du menu toggle (Burger)
.menu-toggle {
  display: none; // Caché en desktop
  background: none;
  border: none;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 1.5%;
  font-weight:700;
  @include low-mobile {
    display: block;
  }
}

.nav-links {
  position: absolute;
  top: 4%;
  right: 2%;
  display: flex;
  list-style: none;
  gap: 20px;
  @include low-mobile {
    display: none;
  }
}
.nav-link li {
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    transition:
      background 0.3s,
      color 0.3s;

    &:hover {
      background: gray;
      border-radius: 5px;
    }
  }
}
