/* =============================================================================
    Projet      :   rapport-de-stage
    Fichier     :   _header
    Auteur      :   Trackjnr
    Date        :   10/03/2025
    Version     :   1.0.0
    Description :   Styles spécifiques au header
============================================================================= */
@use "../base/mixins" as *;

.header {
  background-color: black;
  color: #fff;
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 2%;
  z-index:500;
}
.logo {
  width: 15vw;
  height: auto;

  @include low-mobile {
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
// Styles du menu toggle (Burger)
.menu-toggle {
  display: none; // Caché en desktop
  background: none;
  border: none;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 1.5%;
  font-weight: 700;
  @include low-mobile {
    display: block;
  }
}
/* Cacher le menu par défaut en mobile */
.nav-links {
  position: absolute;
  top: 8%;
  left: 0;
  width: 30%;
  height: 100px;
  text-align: center;
  transform: translateX(-300%);
  transition: transform 0.3s ease;
  z-index: 1;
  flex-direction: column;
  gap: 1rem;
}

/* Montrer le menu si menu ouvert */
body.menu-open .nav-links {
  transform: translateX(120%);
}

/* Décaler le main quand menu est ouvert */
body.menu-open main {
  transform: translateY(6%);
}

main {
  transition: transform 0.3s ease;
}

/* Afficher en horizontal sur desktop */
@media screen and (min-width: 768px) {
  .nav-links {
    all: unset;
    display: flex !important;
    gap: 2rem;
  }

}



